{% extends "base.html" %}

{% block site_meta %}
    {{ super() }}

    <meta name="google-site-verification" content="8xgnehu9d-gPUJzwbTvdkzsSuJBAaGz7lUcdlNjTwIY" />

    <!-- Default Statcounter code for PySimpleGUI https://pysimplegui.org -->
    <script type="text/javascript">
        var sc_project=12622535;
        var sc_invisible=1;
        var sc_security="1d3e2cc1";
    </script>

    <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
    <!-- End of Statcounter Code -->
{% endblock site_meta %}
